/* Element style rules */
html {
    background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    justify-content: space-evenly;
}

/* Link style rules */
a:link {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}

a:hover,
a:focus {
    color: silver;
}

a {
    color: white;
}

/*Breakpoint at 760px for nav_menu*/
@media only screen and (max-width: 760px) {
    #nav_menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: black;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

/*Breakpoint at 500px for nav_menu*/
@media only screen and (max-width: 500px) {
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: black;
        justify-content: space-evenly;
    }
}