/* Reset selector for the page */
* {
    margin: 0;
    padding: 0;
}

/* Style rules for the main element */
main {
    width: 800px;
    margin: 10px 15px;
}

/* Style rules for the header element */
header {
    border-bottom: 1px solid black;
}

/*Nav menu style rules*/
#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    justify-content: space-evenly;
}

/* Link style rules */
a:link {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}

a:hover,
a:focus {
    color: silver;
}

a {
    color: white;
}

/* Style rules for the h2 element */
h2 {
    padding: .5em;
}

/* Style rules for the ul element within main */
/* Creation of columns in progress. Needs tuning */
main ul {
    height: 500px;
    width: 300px;
    float: left;
    border-right: 1px solid black;
}

/* Style rules for the ul element within aside */
aside ul {
    width: 300px;
    float: right;
}

/*Breakpoint at 760px for nav_menu*/
@media only screen and (max-width: 760px) {
    #nav_menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: black;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

/*Breakpoint at 500px for nav_menu*/
@media only screen and (max-width: 500px) {
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: black;
        justify-content: space-evenly;
    }
}