h1 {
    font-size: 250%;
}
.thebest {
    margin: 0;
    padding: .5em .5em .5em 5em;
}
ol li {
    font-weight: bold;
}
h1, h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a:link {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace
}
a:hover {
    color: red;
}