/* Element style rules */
html {
    height: 100%;
    background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
}

#mobile_menu {
    display: none;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    justify-content: space-evenly;
    padding: 1em;
}

/* Link style rules */
a:link {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}

a:hover,
a:focus {
    color: silver;
}

a {
    color: white;
}

/*Breakpoint at 760px for nav_menu*/
@media only screen and (max-width: 760px) {
    html {
        height: 100%;
        background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
    }

    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }
}

/*Breakpoint at 500px for nav_menu*/
@media only screen and (max-width: 500px) {
    html {
        height: 100%;
        background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
    }

    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }
}