/* Element style rules */
html {
    height: 100%;
    background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
}

/* Reset selector for the page */
* {
    margin: 0;
    padding: 0;
}

/* Style rules for the main element */
main {
    width: 800px;
    margin: 10px 15px;
    display: grid;
    grid-template: auto / repeat(2, 90% 90%);
}

/* Style rules for the header element */
header {
    border-bottom: 1px solid black;
}

/*Nav menu style rules*/
#mobile_menu {
    display: none;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    justify-content: space-evenly;
    padding: 1em;
}

/* Link style rules */
a:link {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}

a:hover,
a:focus {
    color: silver;
}

a {
    color: white;
}

/*Style rules for the section*/
section {
    grid-column: 1/2;
    border: solid 4px black;
}

/* Style rules for the ul element within section */
section ul {
    height: 100%;
    width: 30%;
    padding-left: 2.5%;
}

/* Style rules for the h2 element */
h2 {
    padding: .5em;
}

/*Style rules for the aside*/
aside {
    grid-column: 2/3;
    padding-left: 2.5%;
    border: solid 4px black;
}

/* Style rules for the ul element within aside */
aside ul {
    height: 100%;
    width: 30%;
}

/*Breakpoint at 760px for nav_menu*/
@media only screen and (max-width: 760px) {
    html {
        height: 100%;
        background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
    }

    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }

    main {
        display: grid;
        grid-template: auto / repeat(2, 90% 90%);
    }

    section {
        grid-column: 1/2;
        border: solid 4px black;
    } 

    aside {
        grid-column: 2/3;
        padding-left: 2.5%;
        border: solid 4px black;
    }
}

/*Breakpoint at 500px for nav_menu*/
@media only screen and (max-width: 500px) {
    html {
        height: 100%;
        background-image: linear-gradient(135deg, rgb(253, 15, 15) 36%, rgb(88, 88, 255) 58%, rgb(253, 15, 15) 100%);
    }

    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }

    main {
        display: grid;
        grid-template: auto / repeat(2, 90% 90%);
    }

    section {
        grid-column: 1/2;
        border: solid 4px black;
    } 

    aside {
        grid-column: 2/3;
        padding-left: 2.5%;
        border: solid 4px black;
    }
}