/* Element style rules */
html {
    background-image: linear-gradient(155deg, rgb(255, 75, 75) 36%, rgb(110, 110, 255) 58%, rgb(255, 75, 75) 100%);
    background-attachment: fixed;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 180%;
}

.thebest {
    font-size: 120%;
    margin: 0;
    padding: .5em .5em .5em 3em;
    font-family: "Source Code Pro";
}

h1,
h2 {
    border: 5px dotted black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

footer {
    margin: 0;
}

/* Navigation style rules */
#mobile_menu {
    display: none;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    justify-content: space-evenly;
    padding: 1em;
}

main img {
    max-width: 100%;
}

ol li {
    font-weight: bold;
}

/* Link style rules */
a:link {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}

a:hover,
a:focus {
    color: silver;
}

a {
    color: white;
}

/*Breakpoint at 760px for nav_menu*/
@media only screen and (max-width: 760px) {
    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }
}

/*Breakpoint at 500px for nav_menu*/
@media only screen and (max-width: 500px) {
    #mobile_menu {
        display: block;
    }

    #nav_menu ul {
        display: none;
    }
}